<ion-content fullscreen class="flex ion-padding">
  <swiper-container loop="true" [pagination]="true">
    <swiper-slide>
      <info-element
        main_text="НАЙ-БЪРЗИТЕ"
        secondary_text="ГРАДСКИ ДОСТАВКИ"
        image_url="assets/images/3d-truck-dex.png"
      />
    </swiper-slide>
    <swiper-slide>
      <info-element
        main_text="НАЙ-БЪРЗИТЕ"
        secondary_text="ГРАДСКИ ДОСТАВКИ"
        image_url="assets/images/3d-truck-dex.png"
      />
    </swiper-slide>
  </swiper-container>
  <div class="absolute bottom-0 w-full p-0 left-0">
    <ion-button color="light" expand="full" size="large" class="m-0 h-[8vh]">
      <ion-text
        color="white"
        class="font-bold text-3xl font-rubik tracking-wide login_to_profile"
      >
        влезте в профил
      </ion-text>
    </ion-button>
    <ion-button color="primary" expand="full" size="large" class="m-0 h-[8vh]">
      <ion-text
        color="white"
        class="font-black text-[1.67rem] font-rubik tracking-wide"
      >
        създайте профил
      </ion-text>
    </ion-button>
  </div>
</ion-content>
